<ion-header>
  <ion-toolbar>
    <ion-title>My Event</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content fullscreen>
        <ion-card *ngFor="let data of loadedEvents">
          <img [src]="data.url" />
          <ion-card-header>
            <ion-card-subtitle>{{data.alamat}}</ion-card-subtitle>
            <ion-card-title>{{data.nama_event}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{data.deskripsi}}
            <ion-item lines="none">
                <ion-button slot="end" color="success" (click)="showModalBarcode(data.eid)"fill='solid'>
                    Show Barcode
                </ion-button>
            <ion-button slot="end" color="success" (click)="finish(data.eid)"fill='solid'>
                finish
            </ion-button>
          </ion-item>

          </ion-card-content>
        </ion-card>
</ion-content>
